body {
  padding: 50px;
  font: 12px "Open Sans", Helvetica, Arial, sans-serif;
  color: $text-main;
  background: linear-gradient(to right bottom, $background-light 37%, $background-dark 76%);
  background-size: cover;
  height: calc(100vh - 100px);
  // min-width: 1166px;
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
main {
  width: 100%;
}
h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

h3 {
  font-size: 0.9em;
}
