$main: #447BA8;
$writing: snow;

@import 'typography';

body {
  padding: 50px;
  font: 12px "Open Sans", Helvetica, Arial, sans-serif;
  background: $main;
}

a {
  color: #00B7FF;
}

body a {
  background: blue;
}


.axis path,
.axis line {
fill: none;
stroke: $writing;
shape-rendering: crispEdges;
}

.line {
fill: none;
stroke: $writing;
stroke-width: 1.5px;
}

.alerts {
  width: 300px;
  height: 400px;
  overflow: scroll;
  border:1px solid black;
}
.headline.alert {
  border: 1px solid red;
  max-width: 100%;
  margin: 0;
  padding: 7px;
}
